# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| VS Code            |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)

3.3333333333333335

**Objectives:**  
- List popular languages for Data Science  
- Create Markdown tables for data science tools  
- Write Python code for unit conversion  
- Use Markdown for arithmetic expression examples  
- Document notebook learning objectives

## Author
Lingyi Tang